h1=title
  
div#output

script

  function output(msg) {
    var output = $('#output').html();

    $('#output').html(output + "<br/>" + msg);
  }

  function initTest(e) {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(onGeoLocate, useJSAPI);
    } else {
      useJSAPI();
    }
  }

  function onGeoLocate(pos) {
    var lat = pos.coords.latitude, long = pos.coords.longitude;

    output("Using navigator.geolocation (HTML5 Geolocation)");
    output("latitude: " + lat + ", longitude: " + long + ", accuracy " + pos.coords.accuracy );
    getZipCode(lat, long);
  }

  function getZipCode(lat,long) {
    // note; long before lat
    var url = '/geo2zip/' + long + ',' +lat;

    $.ajax(url, {success: onGetZipCode});
  }

  function onGetZipCode(ret) {
    output("Output From geo2zip: " + JSON.stringify(ret) );
  }

  function useJSAPI() {
    var loc = google.loader.ClientLocation;

    output("Using Google JSAPI Loader (IP Geolocation)");

    if (loc != null) {
      output("latitude: " + loc.latitude + ", longitude: " + loc.longitude);
      getZipCode(loc.latitude, loc.longitude);
      
    } else {
      output("Your Location Was Not Detected By The Google JSAPI Loader");
    }
  }

  document.onready = initTest;
  
